traefik:
  # traefik version to download
  version: 1.7.8
  # proxy urls to download traefik binary
  https_proxy: ''
  http_proxy: ''
  # Set user and group for Traefik running service
  user: traefik
  group: traefik
  # target directory to store traefik binary and configuration
  bindir: /usr/local/bin
  configdir: /etc/traefik
  # remember to change files/traefik.toml filename if you change config_file
  config_file: traefik.toml

# vim: ft=yaml
