{% import_yaml "traefik/defaults.yaml" as defaults %}
{% import_yaml "traefik/osfamilymap.yaml" as osfamilymap %}

{% set traefik = salt.grains.filter_by(
    defaults,
    merge=salt.grains.filter_by(
      osfamilymap,
      merge=salt.pillar.get('traefik', {}),
    ),
    default='traefik')
%}
